.Rproj.user
.Rhistory
.RData
.Ruserdata

# Original mean, SD, count rasters
rasters-means/*
!rasters-means/.gitkeep
rasters-sds/*
!rasters-sds/.gitkeep
rasters-counts/*
!rasters-counts/.gitkeep
rasters-archive/*
!rasters-archive/.gitkeep

rasters-means-14state/*
!rasters-means-14state/.gitkeep
rasters-sds-14state/*
!rasters-sds-14state/.gitkeep
rasters-counts-14state/*
!rasters-counts-14state/.gitkeep
